:root {
  --bg-color: #264653;
  --heading-color: #e76f51;
  --color-decor: #2a9d8f;
}
body {
  background-color: var(--bg-color);
  user-select: none;
  font-family: "Inter Tight", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */
}
h1 {
  color: var(--heading-color);
}
button {
  cursor: pointer;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--color-decor);
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--heading-color);
  color: white;
}
img {
  width: 190px;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
#meal-container {
  margin-top: 30px;
}
a {
  color: var(--heading-color);
}
p {
  font-size: 20px;
}
.bold {
  color: white;
  font-weight: bold;
}
#recipe {
  color: var(--color-decor);
}
